body{
  background: url(maze_background.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}

.right-container{
  margin-top: 410px;
}

.row{
  display: flex;
  
}

.maze-canvas{
  justify-content: space-between;
  margin: 10px 51px; 

}

button{
  width: 168px;
  border-radius: 8px;
  border: 1px solid;
  margin: 5px;
  padding: 6px 0;
  background: linear-gradient(45deg, black, transparent);
  color: antiquewhite;
}

#run-maze{
  margin-top: 116px;
}

#description{
  margin: 30px 6px; 
  background-color: honeydew;
  padding: 12px; 
  opacity: 0.7;
  width: 322px; 
  height: 92px;
  border-radius: 8px;
  font-size: 15px;
  font-family: sans-serif;
  color: #3c6465;
}

.title-container{
  margin: 34px;
  
  padding: 12px;
  
}
.project-description{
  background-color: honeydew;
  opacity: 0.7;
  border-radius: 8px;
  padding: 10px;
  margin-top: 32px;
}

.project-title{
  font-size: 28px;
  color: #3c6465;
  font-family: sans-serif;  
}

.project-subtitle{
  font-size: 20px;
  color: rgb(70, 89, 109);
  font-family: sans-serif;
}

.title{
  margin: 24px 0 10px;
  font-size: 15px;
  font-family: sans-serif;
  color: rgb(70, 89, 109);
}

p{
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(70, 89, 109);
}

